.content-area {
    background-color: rgba(247, 247, 247, 0.9);
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px 40px;
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
}

.content-area button {
    background-color: #575F6E !important;
    border: #575F6E !important;
}

    .content-area button:hover {
        background-color: #82bb26da !important;
    }
